body {
    background-color: rgb(228, 229, 190);
    font-family: 'Courier New', Courier, monospace;
}

.center, .left, .right {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    width: "300";
    height: auto
  }

  .left {
    margin: 10%;
    text-align: left;
  }

  .right {
    margin-right: 10%;
    text-align: right;
  }

  .solid-border {
    border-style: solid;
  }

  .groove-border {
    border-style: groove;
  }

  .groove-border.center {
    border-style: ridge;
  }